@model SignInVM
@{
    Layout = "_SmallInputLayout";
}
<div class="bgWhite padding20">
    <h1>Sign in</h1>
    <div asp-validation-summary="All"></div>
<form asp-controller="Account", asp-action="SignIn">
    <label asp-for="Username"></label>
    <input class="form-control input-group-sm" asp-for="Username" placeholder="Username"/>
    <span asp-validation-for="Username"></span>
    <br />
    <label asp-for="Password"></label>
    <input class="form-control input-group-sm" asp-for="Password" placeholder="Password" type="password" />
    <span asp-validation-for="Password"></span>
    <br />
    <button class="orcaBtn btnWidth120 TopMargin20" type="submit"><span class="fa fa-sign-in rightMargin5"></span>Sign in</button>
</form>
</div>