/*---------------------------------------------------------------------------
                              ANSWER LIST 
---------------------------------------------------------------------------*/

.answerList {
    margin-top: 20px;
    margin-left: 0;
}

    .answerList li {
        margin-top: 6px;
        list-style-type: none;
        background-color: #909090;
        border-radius: 5px;
        padding: 3px;
    }

/*---------------------------------------------------------------------------
                              TABLE STYLE 
---------------------------------------------------------------------------*/

.tableRow {
    border-radius: 3px;
}

/*---------------------------------------------------------------------------
                              CENTER THINGS 
---------------------------------------------------------------------------*/

.centerObjects {
    text-align: center;
    align-content: center;
}

