/*---------------------------------------------------------------------------
                         ALL FOUR CORNERS MARGIN
---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------
                            TOP & BOTTOM MARG
---------------------------------------------------------------------------*/

.topBottomMargin20 {
    margin: 20px 0;
}


.topBottomMargin80 {
    margin: 80px 0;
}
/*---------------------------------------------------------------------------
                            LEFT & RIGHT MARGIN
---------------------------------------------------------------------------*/
.leftRightMargin10 {
    margin: 0 10px;
}

.leftRightMargin20 {
    margin-right: 20px;
    margin-left: 20px;
}
/*---------------------------------------------------------------------------
                                TOP MARGIN
---------------------------------------------------------------------------*/

.TopMargin-80 {
    margin-top: -80px;
}

.topMargin-8 {
    margin-top: -8px;
}

.topMargin-35 {
    margin-top: -35px;
}

.topMargin3 {
    margin-top: 3px;
}

.TopMargin20 {
    margin-top: 20px;
}
/*---------------------------------------------------------------------------
                               RIGHT MARGIN
---------------------------------------------------------------------------*/
.rightMargin5 {
    margin-right: 5px !important;
}

.rightMargin10 {
    margin-right: 10px;
}

.rightMargin15 {
    margin-right: 15px;
}

.RightMargin20 {
    margin-right: 20px;
}

/*---------------------------------------------------------------------------
                              BOTTOM MARGIN
---------------------------------------------------------------------------*/
.BottomMargin20 {
    margin-bottom: 20px;
}
/*---------------------------------------------------------------------------
                               LEFT MARGIN
---------------------------------------------------------------------------*/
.LeftMargin5 {
    margin-left: 5px;
}

.LeftMargin20 {
    margin-left: 20px;
}

/*---------------------------------------------------------------------------
                               PADDING
---------------------------------------------------------------------------*/

.padding20 {
    padding: 20px;
}