@{
    Layout = "_rootLayout";
}

<div class="container-fluid" style="margin-top: -80px;">
    <div class="row">
        <div class="divImage topMargin36" style="background-image: url(../../../Images/MoodPictures/TestPic1.jpg); height: 540px;">
            <div class="bluePic"></div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: -440px;">
    <div class="row">
        <div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
            <h1 class="white center hidden-xs" style="font-size: 62px;">What's your answer?</h1>
            <h1 class="white center hidden-lg hidden-md hidden-sm">What's your answer?</h1>
            <h3 class="white center">OrcaQuiz is an easy way to make quizes, surveys or tests!</h3>
            <h3 class="white center">Register today and create a music quiz for your friends, a survey for an event or a tests for grading your class. </h3>
            <br />
            <br class="hidden-xs" />
            <br class="hidden-xs" />
            <div class="centerObjects hidden-xs">
                <button class="orcaWhiteBigBtn btnLarge btnWidth175 RightMargin20">Register</button>
                <button class="orcaWhiteBigBtn btnLarge btnWidth175 LeftMargin20" onclick="window.location.href='/Home/Login'">Login</button>
            </div>
            <div class="centerObjects hidden-lg hidden-md hidden-sm">
                <button class="orcaWhiteBigBtn btnWidth175 BottomMargin20">Register</button>
            </div>
            <div class="centerObjects hidden-lg hidden-md hidden-sm">
                <button class="orcaWhiteBigBtn btnWidth175" onclick="window.location.href='/Home/Login'">Login</button>
            </div>
        </div>
        <div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 80px;">
    <div class="container">
        <div class="row">
            <br />
            <br />
            <br class="hidden-xs" />
            <div class="col-sm-4">
                <h1 class="center">Quiz</h1>
                <br />
                <p>A quiz is usually a short test, and it usually does not have as much impact on your grade as a test has. In fact, some instructors don’t use the quiz grade at all in determining your course grade. Usually, those who use quizzes have several throughout a unit. The instructor uses them just to check up on how well you’re understanding the material. While a test might have 40 or 50 questions on it, a quiz might instead have just 8 or 10.</p>
            </div>
            <div class="col-sm-4">
                <h1 class="center">Test</h1>
                <br />
                <p>These are the standard evaluation technique used to determine your grade in both high school and college classes. Unlike with quizzes, the test score is almost certain to be used in determining your grade in the class. In fact, some instructors use test grades exclusively to decide your grade. Whereas a quiz usually gauges your understanding of short sections of a unit, a test normally covers a longer chunk of the course: a whole unit or several chapters. For this reason, tests are commonly longer than quizzes. </p>
            </div>
            <div class="col-sm-4">
                <h1 class="center">Survey</h1>
                <br />
                <p>A survey is a questionnaire that the target audience can complete over the Internet. Online surveys are usually created as Web forms with a database to store the answers and statistical software to provide analytics. People are often encouraged to complete online surveys by an incentive such as being entered to win a prize.</p>
            </div>
        </div>
    </div>
</div>